.theme1 {
    --primary: #4bb1a0;
    --secondary: #ffff;
    --thirdly: #ffff;
}

.theme2 {
    --primary: #194555;
    --secondary: #f8da94;
    --thirdly: #fff;
}

.theme3 {
    --primary: #d2c5f4;
    --secondary: #130f66;
    --thirdly: #fff;
}

.theme4 {
    --primary: #3d5a5b;
    --secondary: #e89f72;
    --thirdly: #fff;
}

.theme5 {
    --primary: #ebdade;
    --secondary: #444e64;
    --thirdly: #fff;
}