.theme1 {
    --primary: #5aa9c8;
    --secondary: #2b2263;
    --thirdly: #ffff;
}

.theme2 {
    --primary: #194555;
    --secondary: #f8da94;
    --thirdly: #fff;
}

.theme3 {
    --primary: #d2c5f4;
    --secondary: #130f66;
    --thirdly: #fff;
}

.theme4 {
    --primary: #3d5a5b;
    --secondary: #e89f72;
    --thirdly: #fff;
}

.theme5 {
    --primary: #e18952;
    --secondary: #242769;
    --thirdly: #fff;
}